<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <h1>This is Layout page</h1>
    <br><br><br>
    <nav>
        <a href="{{ url_for("index") }}">Home</a>
        <a href="{{ url_for("add") }}">Add</a>
        <a href="{{ url_for("search") }}">Search</a>
        <a href="{{ url_for("display_all") }}">Display</a>
    </nav>
    {% block content %}
    {% endblock %}
    
</body>
</html>